mkdocs
mkdocs-material
mkdocs-glightbox
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-statistics-plugin
mkdocs-minify-plugin
# mkdocs-rss-plugin
mkdocs-autorefs
mkdocs-gen-files
mkdocs-literate-nav
mkdocstrings[python]
markdown-exec[ansi]
mike

maliang
maliang[opt]
maliang[ext]

# griffe-typingdoc
# griffe-pydantic
