{% extends "base.html" %}

{% block outdated %}

注意！您现在浏览的是开发版本，<a href="{{ '../' ~ base_url }}"><strong>点击这里跳转到稳定版本！</strong></a>

{% endblock %}

{% block content %}

{% if config.theme.language == "zh" %}
    <a href="javascript:void(window.print());" class="md-content__button md-icon" title="下载此页">
        {% include ".icons/material/file-download.svg" %}
    </a>
{% else %}
    <a href="javascript:void(window.print());" class="md-content__button md-icon" title="Download this page">
        {% include ".icons/material/file-download.svg" %}
    </a>
{% endif %}

{{ super() }}
{% endblock content %}